@use '../abstracts/variables' as var;

.button {
  display: block;
  width: 100%;
  height: 60px;
  font-size: 18px;
  color: var.$corTextoSecundario;
  background-color: var.$corBotao;
  text-transform: uppercase;
  border-radius: 4px;
  margin-top: 2vw;
  margin-bottom: 8px;
  border: none;
}
