// Cores
$corDeFundo: #040714;
$corPrincipal: #123456;
$corTextoPrincipal: silver;
$corTextoSecundario: #F9F9F9;
$corBotaoPrincipal: #6421FF;
$corBotaoSecundario: #0063E5;
$corBotaoDark: rgba(0,0,0,0.8);
$corAccordion: #13151D;
